<% include components/header.ejs %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <!-- Navbar content -->
  <a class="navbar-brand ml-5" href="#">ComposeHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Explore</a>
      </li>
    </ul>
    <form class="form-inline my-4 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
    <ul class="navbar-nav mr-auto navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Activity <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-5" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container signup">
  <h1>Create a Project</h1>
  <h4>Upload your base sound file and invite your friends to collaborate with you.</h4><br>
  <hr class="trendingDivider">
  <form style="margin: 0; padding: 0;" action="/signup" method="post">
    <div class="row">
    <div class="col-md-6 col-xs-12">
      <h4>Project Name:</h4>
      <input type="text" placeholder="Full Name" class="mainentry mt-5" name="fullname" required>
    </div>
  </div>
  <div class="mt-5">
    <button type="submit" class="btn btn-outline-primary btn-lg mt-5">Sign Up</button>
</div>
</form>
