<%- include components/header.ejs %>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
	  <!-- Navbar content -->
		<a class="navbar-brand ml-5" href="#">ComposeHub</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Explore</a>
				</li>
			</ul>
			<form class="form-inline my-4 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
				<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
			</form>
			<ul class="navbar-nav mr-auto navbar-right">
				<li class="nav-item active">
					<a class="nav-link" href="#">Activity <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link mr-5" href="#">Profile</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<!-- <div class="col-1"></div> -->
			<div class="col-8 mt-3">

				<h3 id="explore-header"><i class="fa fa-fire mr-3" aria-hidden="true"></i>Trending Songs</h3>
				<hr class="trendingDivider"><br>

					<!-- Song Card -->
					  <div class="row">
					    <div class="col-md-12">
					      <div class="song">
					      <h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
					      <div class="player shadow mt-2">
					        <h2>Song Title</h2>
					        <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
					      </div>
					      <button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button>
					    </div>
					</div>
					</div>
					<!-- End Song Card -->

					<!-- Song Card -->
						<div class="row mt-4">
							<div class="col-md-12">
								<div class="song">
								<h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
								<div class="player shadow mt-2">
									<h2>Another Song</h2>
									<audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
								</div>
								<button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button>
							</song>
							</div>
					</div>
					</div>
					<!-- End Song Card -->
					<!-- Song Card -->
						<div class="row mt-4">
							<div class="col-md-12">
								<div class="song">
								<h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
								<div class="player shadow mt-2">
									<h2>Next Song</h2>
									<audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
								</div>
								<button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button> <!-- Link using data-id:song.id -->
							</song>
							</div>
					</div>
					</div>
					<!-- End Song Card --><!-- Song Card -->
					  <div class="row mt-4">
					    <div class="col-md-12">
					      <div class="song">
					      <h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
					      <div class="player shadow mt-2">
					        <h2>A Third Song</h2>
					        <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
					      </div>
					      <button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button>
					    </song>
					    </div>
					</div>
					</div>
					<!-- End Song Card --><!-- Song Card -->
					  <div class="row mt-4">
					    <div class="col-md-12">
					      <div class="song">
					      <h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
					      <div class="player shadow mt-2">
					        <h2>A Third Song</h2>
					        <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
					      </div>
					      <button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button>
					    </song>
					    </div>
					</div>
					</div>
					<!-- End Song Card --><!-- Song Card -->
					  <div class="row mt-4">
					    <div class="col-md-12">
					      <div class="song">
					      <h6 class="mt-3">Created by Sam Jones and 2 others.</h6>
					      <div class="player shadow mt-2">
					        <h2>A Third Song</h2>
					        <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls"></audio>
					      </div>
					      <button type="button" class="btn btn-outline-info btn-sm mt-4">View History</button>
					    </song>
					    </div>
					</div>
					</div>
					<!-- End Song Card -->
			</div>
			<div class="col-1">
			</div>
			<div class="col-3" id="project-sidebar">
				<div style="flex-direction: row; justify-content: end;">
					<button type="button" class="btn btn-outline-primary mt-4 createProject">Create a Project</button>
					<h4 class="card-title yourProjects mt-5" style="padding:5px;">Your Projects</h4>
				</div>
				<div class="card">
					<a href="#">
						<div class="card-body">
						<span>Song 2</span>
						<span class="sidebarTime">5:01</span>
					</div>
				</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="card-body">
						<span>Song 2</span>
						<span class="sidebarTime">5:01</span>
					</div>
				</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="card-body">
						<span>Song 3</span>
						<span class="sidebarTime">5:01</span>
					</div>
				</a>
				</div>
				<div class="card">
					<a href="#">
						<div class="card-body">
						<span>Song 4</span>
						<span class="sidebarTime">5:01</span>
					</div>
				</a>
				</div>
			</div>
		</div>
		<%- include components/footer.ejs %>
