<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music App</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link href="https://fonts.googleapis.com/css?family=Cabin:500,400" rel="stylesheet">
  <script src="https://use.fontawesome.com/0e6a1b4153.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="scripts/script.js"></script>
</head>

<body>
<div class="header">
  <br>
  <p class="landingLogin"><a href="#">Login</a></p>
  <div class="logo">
    <h1 class="logoText text-center">ComposeHub</h1>
    <h2 class="logoDescription text-center">Compose, collaborate, and explore a growing library of open-source music.</h2>
  </div>
  <div class="buttonWrapper mt-5">
    <a href="signup.html"><button type="button" class="btn btn-primary btn-lg">Sign Up</button></a>
  <button type="button" class="btn btn-outline-secondary btn-lg ml-3 ">Explore</button>
</div>
</div>
<div class="features mt-5">
  <div class="container mt-5">
    <div class="rows mt-5">
      <div class="row">
        <div class="col-md-2 col-md-offset">
          <i class="fa fa-5x fa-pencil" aria-hidden="true"></i>
        </div>
        <div class="col-md-10 col-sm-10">
          <h3>Compose</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10">
          <h3>Collaborate</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="col-md-2 col-md-offset">
          <i class="fa fa-5x fa-users" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-2 col-md-offset">
          <i class="fa fa-5x fa-desktop" aria-hidden="true"></i>
        </div>
        <div class="col-md-10">
          <h3>Explore</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
      </div>
    </div>
    <div class="buttonWrapper mt-5">
      <button type="button" class="btn btn-outline-primary btn-lg">Get Started</button>
  </div>
  <p class="footer">Hack The North 2017</p>
  </div>
</div>
</body>

</html>
