<% include components/header.ejs %>
  <div class="loginbar">
    <p class="signupHome"><a href="/home">Home</a></p>
    <p class="signupLogin"><a href="/signup">Sign Up</a></p>

  </div>
  <br>
  <div class="container signup">
    <h1>Log In</h1>
    <h4>Welcome Back!</h4>

      <form style="margin: 0; padding: 0;" action="/signup" method="post">
        <div class="row">
        <div class="col-md-6 col-xs-12">
          <input type="text" placeholder="Username" class="mainentry mt-5" name="username" required>
        </div>
        <div class="col-md-6 col-xs-12">
          <input type="text" placeholder="Password" class="mainentry mt-5" name="password" required>
        </div>
      <div class="mt-1 ml-2">
        <button type="submit" class="btn btn-outline-primary btn-lg mt-5">Log In</button>
    </div>
  </form>
  </div>
<% include components/footer.ejs %>
