<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  	<link href="/css/explore.css" rel="stylesheet">
  	<link href="/css/style1.css" rel="stylesheet">
  	<script src="https://use.fontawesome.com/0e6a1b4153.js"></script>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:500,400" rel="stylesheet">
    <script src="https://use.fontawesome.com/0e6a1b4153.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="scripts/script.js"></script>-->
    <script type="text/javascript" src="/javascripts/projectPlayer.js"></script>
    <link rel="stylesheet" href="/css/projectPlayerAudio.css">
    <link rel="stylesheet" href="/css/projectPlayerReset.css">
    <link rel="stylesheet" href="/css/project.css">
    <style>
      #upload-input {
        display: none;
      }
    </style>
  	<title>Coffee House</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
      <!-- Navbar content -->
      <a class="navbar-brand ml-5" href="#">CoffeeHouse</a>
      <a href="/clone"<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link mr-4" href="/home">Home <span class="sr-only">(current)</span></a>
        </ul>
        <form class="form-inline my-4 my-lg-0">
          <input class="form-control mr-sm-2 search" type="text" placeholder="Search" aria-label="Search" style="width: 300px;">
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
        <ul class="navbar-nav mr-auto navbar-right">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Activity <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link mr-5" href="#">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
      <h1 class="pTitle"><% console.log('the repo: ', profile) %></h1><a href="/create">
      <a href="/create?"><button type="button" id="<%=  %>" class="btn btn-outline-primary mt-5 ml-3 cloneButton">Clone this Project</button></a><br>
      <a href="/create?id:"><button type="button" class="btn btn-outline-primary mt-5 ml-3 cloneButton">Contribute to this Project</button></a><br>
    </div>
    <br><br>

      <div class="row mt-4">
        <div class="col-md-12">
          <div class="song">
            <h6 class="mt-3" style="margin-top: 0px !important;">Created by Sam Jones and 2 others.</h6>
            <div class="player gshadow mt-3" style="height: 200px;">
              <h2 class="projectTitle" id="projectName"><%= profile %></h2>
              <div class="projectDescription" id="projectDescription"> </div>
              <h5 class="projectOwnerUsername">Username</h5><br>
              <!--HTML5 audio-->
              <audio id="music" preload="true">
                <source src="/uploads/bryson1.mp3">
              </audio>

              <div id="wrapper">
                <!--Audio Player Interface-->
                <div id="audioplayer">
                  <button id="pButton" class="play"></button>
                  <div id="timeline">
                    <div id="playhead"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id="nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#history" role="tab">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contribute" role="tab">Contribute</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#statistics" role="tab">Statistics</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="history" role="tabpanel">
              <div class="row">
                <!-- Component Section -->
                <div class="col-md-12">
                  <!-- input with audio -->
                  <div class="song">
                    <h6 class="mt-3">Contributed to by [user]</h6>
                    <div class="player shadow mt-3" style="height: 155px;">
                      <h2 class="projectTitle" style="margin-left: 0px">Segment 1</h2>
                      <h5 class="projectOwnerUsername" style="padding-left: 21px">[user]</h5>
                      <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls" style="height: 25%"></audio>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Component Section -->
                <div class="col-md-12">
                  <!-- input with audio -->
                  <div class="song">
                    <h6 class="mt-3">Contributed to by [user]</h6>
                    <div class="player shadow mt-3" style="height: 155px;">
                      <h2 class="projectTitle" style="margin-left: 0px">Segment 2</h2>
                      <h5 class="projectOwnerUsername" style="padding-left: 21px">[user]</h5>
                      <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls" style="height: 25%"></audio>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Component Section -->
                <div class="col-md-12">
                  <!-- input with audio -->
                  <div class="song">
                    <h6 class="mt-3">Contributed to by [user]</h6>
                    <div class="player shadow mt-3" style="height: 155px;">
                      <h2 class="projectTitle" style="margin-left: 0px">Segment 3</h2>
                      <h5 class="projectOwnerUsername" style="padding-left: 21px">[user]</h5>
                      <audio class="audioPlayer" src="http://radio.hackthenorth.com/listen" controls="controls" style="height: 25%"></audio>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="contribute" role="tabpanel">
              <div class="contribution-container">
                <h3 class="contribution-title text-left mt-5">Make A Contribution</h3>
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="progress" style="width:100%">
                        <div class="progress-bar" role="progressbar"></div>
                      </div><br><br>

                      <div class="row">
                        <div class="col-4">
                          <div class="upload-button mt-5">
                            <button class="btn btn-lg btn-outline-primary upload-btn" type="button">Upload File</button>
                          </div>
                        </div>
                        <div class="col-8 slideTime" style="float:right">
                          <div class="form-group" id="slidecontainer">
                            <input type="range" min="0" step="0.01" max="240" value="50" class="slider" id="myRange" style="width: 250vh; margin-top: 110px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mt-5" id="initial-time-container">
                    <label for="initial-time" style="margin-top: 21px; font-size: 20px;">Start Time: </label>
                    <input type="number" id="initial-time" placeholder="1.0" step="0.01" min="0" max="240">
                  </div>

                  <div id="uploadMode" style="display: none;">contribute</div>
                  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="statistics" role="tabpanel">
            <div class="mt-5">
              <h1>COOL GRAPHS</h1>
            </div>
          </div>
          </div>
      </div>
      <br><br><br>
      <hr>
      <br>
      <div class="">
        <p style="float:left; margin-bottom: 25px">Hack The North 2017</p>
        <p style="float:right; margin-bottom: 25px">Coffee House &nbsp;<i class="fa fa-coffee" aria-hidden="true"></i></p><br>    
      </div>
    </div>

    <!-- <script type="text/javascript" src='javascripts/profileNav.js'></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="/javascripts/upload.js"></script>

  </body>

</html>
