<% include components/header.ejs %>
  <div class="loginbar">
    <p class="signupHome"><a href="/home">Home</a></p>
    <p class="signupLogin"><a href="/login">Login</a></p>
  </div>
  <br>
  <div class="container signup">
    <h1>Sign Up</h1>
    <h4>Create an account to share your music and collaborate with others.</h4>

      <form style="margin: 0; padding: 0;" action="/signup" method="post">
        <div class="row">
        <div class="col-md-6 col-xs-12">
          <input type="text" placeholder="Full Name" class="mainentry mt-5" name="fullname" required>
        </div>
        <div class="col-md-6 col-xs-12">
          <input type="text" placeholder="Username" class="mainentry mt-5" name="username" required>
        </div>
        <div class="col-md-6 col-xs-12">
          <input type="text" placeholder="Email" class="mainentry mt-5" name="email" required>
        </div>
        <div class="col-md-6 col-xs-12">
          <input type="password" placeholder="Password" class="mainentry mt-5" name="password" required>
        </div>
        <div class="col-md-6 col-xs-12">
          <input type="password" placeholder="Confirm Password" class="mainentry mt-5" name="cpassword" required>
        </div>
      <div class="col-md-6 col-xs-12 mt-1">
        <button type="submit" class="btn btn-outline-primary btn-lg mt-5">Sign Up</button>
    </div>
  </form>
  </div>
<% include components/footer.ejs %>
