/* Absolute Center */
.abs-center{
	margin: auto;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
}
/*Container for audio player*/
#audioplayer{
	width: 100%;
	height: 150px;
	margin: auto;
	margin-top: 0px;
	/*border: solid;*/
}
/* Play/Pause Button */
#pButton{
	height: 80px;
	width: 80px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	outline:none;
  /*margin-top: 75px;*/
	margin-top: 0px;
	margin-left: 25px;

}
/*Classes for play/pause button background*/
.play{background: url('../images/play.png') ;}
.pause{background: url('../images/pause.png') ;}

#timeline{
	width: 85%;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background: #F0f0f0;
	margin-top: 25px;
  margin-left: 16px;
	float: left;
	border-radius: 1em;
}
/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-top: 7px;
	background: #007BFF;
	margin-right: 20px;
}


#gutter{
	width: 20px;
	height: 20px;
	background: #FBFBFB;
	margin-top: 20px;
	float: left;
	border-radius: 1em;
}
/*Grabable Handle*/
#handle{
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 255, 196, 0.82);
}

.projectTitle {
	font-size: 32px;
	margin-left: 40px;
	padding-top: 3% !important;
	color: #333;
}

.projectOwnerUsername {
	padding-left: 50px;
	padding-top: 10px;
	color: #bbb;
}
