.pTitle {
  font-size: 35px;
  margin-top: 50px;
}

.pComposed {
  font-size: 25px;
  margin-top: 50px;
  display: inline;
}

.pTitleBlock{
  height:50px;
}

.cloneButton{

}

#nav-tabs {
  margin-top: 25px;
}

a:hover, a:visited, a:link, a:active, a:visited:hover {
    text-decoration: none;
    color: black;
}
