body {
  background-color: #f6f6f6;
}

.header {
  background-image: url('../wall.jpg');
  height: 600px;
}

.exploreHeader {
  background-image: url('../wall.jpg');
  height: 400px;
}

.exploreCategory {
  color: #333;
}

.logoText {
  margin-top: 0px;
  font-weight: 500;
  color: #fff;
}

.logo {
  margin-top: 170px;
}

.exploreLogo {
  margin-top: 130px;
}

.fa-fire {
  float: left;
}

.landingLogin {
  float: right;
  margin-right: 20px;
}

.loginbar {
  color: #000;
  height: 60px;
  background-color: #082129;
  width: 100%;
  float: right;
}

.signup {
  margin-top: 70px;
}

.signupLogin {
  float: right;
  color: #fff;
  margin-right: 9%;
  margin-top: 15px;
}

.signupHome {
  float: left;
  color: #fff;
  margin-left: 9%;
  margin-top: 15px;
}

.signup h4 {
  margin-top: 20px;
  font-size: 20px;
}


.player h2 {
  color: #333;
  padding-top: 20px;
  padding-left: 20px;
}

.player {
  width: 100%;
  background-color: #FAFAFA;
  height: 120px;
  border-radius: 0.75em;
}

.audioPlayer {
  margin-left: 10px;
  width: 95%;
  height: 40%;
}

.logoDescription {
  margin-top: px;
  font-weight: 400;
  font-size: 25px;
  min-width: 440px;
}

.logoImg {
  width: 60px;
  height: 75px;
}


.features {
  background-color: #fff;
  width: 100%;
  height: 750px;
}

.button

h1, h2 {
  font-family: 'Cabin', sans-serif;
  color: #fff;
}

.signup h1 {
  font-family: 'Cabin', sans-serif;
  color: #000;
}

.footer {
  color: #ccc;
  margin-top: 150px;
}

a:hover, a:visited, a:link, a:active, a:visited:hover {
    text-decoration: none;
    color: #fff;
}

.navbar {
  height: 80px;
}

input:not(.baseFileUpload)				{
  background-color: #f6f6f6;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
  padding:10px 10px 0px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:4px solid #ddd;
}
input:focus { outline:none; }

input::placeholder {
  color: #ddd;
}

input:focus::-webkit-input-placeholder
{
    color: transparent;
}

form  {
    width: 100%;
}

.gshadow {
  box-shadow: 0px 15px 40px rgba(0,123,255,0.2);
}

.shadow {
  box-shadow: 0 12px 25px rgba(0,0,0,0.1);
}

.lshadow {
  box-shadow: 0 12px 25px rgba(0,0,0,0.06);
}

.wrap { width: 560px; padding: 20px; }

.yourProjects {
  margin-top: 10px;
  margin-left: 5px;
  width: 100%;
}

.sidebarTime {
  float: right;
  color: #bbb;
}

.card {
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 12px 25px rgba(0,0,0,0.06);
}

.card span {
  color: #333;
}

.createProject {
  margin-top: 0px !important;
  background-color: #FAFAFA;
  box-shadow: 0 12px 15px rgba(0,123,255,0.1);
}

.btn-outline-info {
  border-color: #082129;
  color: #082129;
}

.btn-outline-info:hover {
  background-color: #082129;
}

.btn-outline-secondary {
  border-color: #fff;
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #fff;
  color: #000;
}

.createProject {
  width: 100%;
}

.trendingDivider {
  background-color: #FBFF00;
}

.pCreated {
  color: #333;
}
